.ipynb_checkpoints/
__pycache__/
.idea
data/*
src/data/raw/*
src/*.pkl
src/Graphein_notebooks/data/raw/*
src/lightning_logs/*
src/graphein_model/*
fractal/
spark/
type=docker/
logs/metadata.log
v1.pkl
v2.pkl
src/Graphein_notebooks/???/
src/Graphein_notebooks/data/
src/playground.ipynb